---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="text-4xl font-bold mb-4">Welcome to My Astro Website</h1>
  <p class="text-lg text-gray-700">
    This is the Home page. Built with Astro and Tailwind CSS.
  </p>
</Layout>
