---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
  <div class="bg-[#02A4B3]">
    <div class="container mx-auto">
      <img src="/images/banner-image.jpg" alt="banner-image" class="h-[500px] w-full object-cover" />
    </div>
  </div>

	<h1 class="text-4xl font-bold mb-4 text-red-800">Welcome to My Astro Website</h1>

  <p class="text-lg text-gray-700">
    This is the Home page. Built with Astro and Tailwind CSS.
  </p>
</Layout>
