---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import AboutUs from "../components/About.astro";

---

<Layout>
  <div class="bg-[#02A4B3]">
    <div class="w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] overflow-hidden bg-green">
      <img src="/images/banner-image.jpg" alt="banner-image" class="w-full h-full object-cover" />
    </div>
  </div>

	<h1 class="text-4xl font-bold mb-4 text-red-800">Welcome to My sdfsdfAstro Website</h1>

  <p class="text-lg text-gray-700">
    This is the Home page. Built with Astro and Tailwind CSS.
  </p>

  <AboutUs />
</Layout>
