---
// about-us
---

<section class="bg-[#F5FEFF] py-16">
    <div class="max-w-7xl mx-auto px-5">
      <div class="grid items-center gap-10 md:grid-cols-5 md:gap-20">

      <!-- Image -->
      <div class="md:col-span-2 overflow-hidden rounded-xl">
        <img
          src="/images/other-images/about.jpg"
          alt="About us"
          class="w-full"
        />
      </div>

      <!-- Content -->
      <div class="md:col-span-3 space-y-6 text-[#018692]">
        <p class="text-lg leading-relaxed text-main md:text-xl ">
          At Gifterra we believe that a great gift is more than just an item—it's an experience. We specialize in curating and customizing beautiful gift packs filled with high-quality, thoughtful products. Our mission is to make gifting a joyful and seamless experience for everyone.
        </p>

        <div class="grid gap-6 sm:grid-cols-2">
          <div class="flex items-center gap-3">
            <div class="text-3xl text-cyan-600">💎</div>

            <div>
              <h4 class="text-xl font-semibold md:text-xl">
                Personalized Touch
              </h4>

              <p>
                Tailor every detail to perfection
              </p>
            </div>
          </div>

          <div class="flex items-center gap-3">
            <div class="text-3xl text-cyan-600">🏆</div>

            <div>
              <h4 class="text-xl font-semibold md:text-xl">
                Premium Quality
              </h4>

              <p>
                Only the finest products selected
              </p>
            </div>
          </div>
        </div>

        <a
          href="/about"
          class="inline-flex items-center text-lg italic font-medium text-cyan-600 hover:underline"
        >
          Learn more about our story
          <span class="ml-2">→</span>
        </a>
      </div>
    </div>
    </div>
  </section>
