---
// about us section
---


<section class="bg-[#fff0e0] py-16 border-b-1 border-cyan-600 text-[#018692]">
  <div class="max-w-7xl mx-auto px-5">
    <div class="grid items-center gap-10 md:grid-cols-5 md:gap-20">

      <!-- Right: Content -->
      <div class="col-span-12 md:col-span-3 space-y-6">
        <h1 class="text-3xl text-right font-semibold">Make your Gift as Unique as Emontions</h1>
        

        <p class="text-main text-lg leading-relaxed text-right font-semibold">
          Add your favorite items, choose wrapping styles, and write heartfelt messages - all in one place. Make every celebration unforgettable with gifts that truly speak from your heart.
        </p>          

        <p class="text-main text-lg leading-relaxed text-right">
          At Gifterra we believe that a great gift to more than just on them it's
          on experience. We specialize in curating and customizing beautiful gift
          packs filled with high-quality, thoughtful products. Our mission is to
          make gifting a joyful and seamless experience for everyone.
        </p>

        <button class="block ml-auto bg-[#02A4B3] cursor-pointer hover:bg-[#0B7786] text-white font-semibold py-2 px-6 rounded-full shadow">
            Read More ...
        </button>
      </div>

      <!-- Left: Image -->
      <div class="col-span-12  md:col-span-2 rounded-xl overflow-hidden bg-blue-100">
        <img
          src="/images/other-images/about.jpg"
          alt="About us"
          class="w-full h-auto object-cover"
        />
      </div>
    </div>
  </div>

  
</section>
