---
// popular-gift-packs

---

<section class="bg-[#E8F6F8] py-16">
    <div class="max-w-6xl mx-auto px-5 ">

        <div class="col-start-4 col-span-6 mb-10">
            <h1 class="text-3xl text-center font-semibold mb-4">Our Popular Gift Packs</h1>
            <h3 class="text-xl text-center">Handpicked collections loved by our customers find the perfect gift for your special someone</h3>
        </div>        


      <div class="grid grid-cols-12 gap-10 items-center">
        <div class="col-span-4 bg-white rounded-2xl text-[#018692]">
            <div class="h-[300px] bg-gray-300 rounded-t-2xl overflow-hidden">
                <img src="/images/other-images/Slice 2.jpg" class="w-full h-full object-cover" />
            </div>

            <div class="p-10">
                <h2 class="text-xl font-semibold">A Relaxation Box</h2>
                <p class="text-lg">A curated set of spa essentials for a blissful escape.</p>

                <div class="flex justify-between items-center mt-10">
                    <h3 class="text-3xl">Rs. 90</h3>
    
                    <button class="bg-[#02A4B3] cursor-pointer hover:bg-[#0B7786] text-white font-semibold py-2 px-6 rounded-full shadow">
                        View Details
                    </button>
                </div>
            </div>
        </div>

        <div class="col-span-4 bg-white rounded-2xl text-[#018692]">
            <div class="h-[300px] bg-gray-300 rounded-t-2xl overflow-hidden">
                <img src="/images/other-images/Slice 3.jpg" class="w-full h-full object-cover" />
            </div>

            <div class="p-10">
                <h2 class="text-xl font-semibold">A Relaxation Box</h2>
                <p class="text-lg">A curated set of spa essentials for a blissful escape.</p>

                <div class="flex justify-between items-center mt-10">
                    <h3 class="text-3xl">Rs. 90</h3>
    
                    <button class="bg-[#02A4B3] cursor-pointer hover:bg-[#0B7786] text-white font-semibold py-2 px-6 rounded-full shadow">
                        View Details
                    </button>
                </div>
            </div>
        </div>

        <div class="col-span-4 bg-white rounded-2xl text-[#018692]">
            <div class="h-[300px] bg-gray-300 rounded-t-2xl overflow-hidden">
                <img src="/images/other-images/Slice 4.jpg" class="w-full h-full object-cover" />
            </div>

            <div class="p-10">
                <h2 class="text-xl font-semibold">A Relaxation Box</h2>
                <p class="text-lg">A curated set of spa essentials for a blissful escape.</p>

                <div class="flex justify-between items-center mt-10">
                    <h3 class="text-3xl">Rs. 90</h3>
    
                    <button class="bg-[#02A4B3] cursor-pointer hover:bg-[#0B7786] text-white font-semibold py-2 px-6 rounded-full shadow">
                        View Details
                    </button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
