---


---

<section class="bg-gray-100 py-16">
    <div class="max-w-6xl mx-auto px-5 ">
        <h1 class="text-3xl font-semibold text-center text-[#018692] mb-4">What Our Customers Say</h1>
        This is the section for testimonials. You can add your testimonials here to showcase feedback from your customers or clients.
    </div>
</section>