---
import '../styles/tailwind.css';
---


<!doctype html>
<html lang="en" class="bg-gray-50 text-gray-900">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Astro Basics</title>
	</head>
	<body>
    <div class="bg-[#E8F6F8]">
      <!-- Top Navigation -->
      <nav class="container mx-auto text-white shadow-md">
        <div class="mx-auto px-4">
          <div class="flex justify-between items-center h-16">
            <!-- Logo -->
            <a href="/" class="h-full flex items-center text-2xl font-bold">
              <img src="/images/gifterra-logo.svg" class="h-[80%]" alt="Gifterra logo" />
            </a>

            <!-- Nav Links -->
            <div class="flex space-x-6">
              <a href="/" class="text-[#02A4B3] hover:text-[#015961] hover:underline transition">About</a>
              <a href="/about" class="text-[#02A4B3] hover:text-[#015961] hover:underline transition">Featured Packs</a>
              <a href="/contact" class="text-[#02A4B3] hover:text-[#015961] hover:underline transition">Gallery</a>
              <a href="/contact" class="text-[#02A4B3] hover:text-[#015961] hover:underline transition">Testimonials</a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <main class="mx-auto">
      <slot />
    </main>
	</body>
</html>
